.container{
    border: 4px solid  purple;
    background-color: aqua;

    display: grid;
    grid-template-columns: 100px 200px 300px;
    grid-template-rows: 100px 200px 300px;

  grid-auto-flow: dense;
   gap: 10px;

}

.item{
    border: 2px solid red;
    font-size: 2rem;
}